<launch>
  <arg name="device" default="/dev/video0"/>
  <arg name="width" default="640"/>
  <arg name="height" default="480"/>
  <arg name="fps" default="30"/>
  <arg name="fourcc" default="MJPG"/>
  <arg name="frame_id" default="rgb1_camera"/>
  <arg name="image_topic" default="/rgb1/image_raw"/>

  <include file="$(find gameuav_usb_camera)/launch/usb_camera.launch">
    <arg name="device" value="$(arg device)"/>
    <arg name="width" value="$(arg width)"/>
    <arg name="height" value="$(arg height)"/>
    <arg name="fps" value="$(arg fps)"/>
    <arg name="fourcc" value="$(arg fourcc)"/>
    <arg name="frame_id" value="$(arg frame_id)"/>
    <arg name="image_topic" value="$(arg image_topic)"/>
  </include>
</launch>
