<launch>
  <arg name="odom_topic" default="/vins_fusion/imu_propagate"/>
  <arg name="ego_position_cmd_topic" default="/control/ego_position_cmd"/>
  <arg name="output_position_cmd_topic" default="/control/position_cmd"/>
  <arg name="direct_position_topic" default="/control/position"/>
  <arg name="spf_position_topic" default="/control/spf_position"/>
  <arg name="spf_enable_topic" default="/spf/enable"/>
  <arg name="mavros_state_topic" default="/mavros/state"/>
  <arg name="spf_mavros_state_timeout_sec" default="2.5"/>
  <arg name="speed_topic" default="/control/speed"/>
  <arg name="ego_position_topic" default="/control/ego_position"/>
  <arg name="stop_topic" default="/control/stop"/>
  <arg name="planning_goal_topic" default="/planning/goal"/>
  <arg name="planning_yaw_topic" default="/planning/goal_yaw_deg"/>
  <arg name="rate_hz" default="50.0"/>
  <arg name="spf_position_timeout" default="0.0"/>
  <arg name="spf_release_on_arrival" default="true"/>
  <arg name="spf_arrival_tolerance_xy" default="0.25"/>
  <arg name="spf_arrival_tolerance_z" default="0.20"/>
  <arg name="spf_arrival_tolerance_yaw_deg" default="10.0"/>
  <arg name="spf_arrival_max_speed" default="0.25"/>
  <arg name="spf_arrival_settle_sec" default="0.5"/>
  <arg name="max_speed" default="1.0"/>
  <arg name="max_vertical_speed" default="0.5"/>
  <arg name="min_z" default="0.05"/>
  <arg name="max_z" default="3.0"/>
  <arg name="attitude_guard_enabled" default="true"/>
  <arg name="attitude_reference_topic" default="/mavros/local_position/pose"/>
  <arg name="attitude_timeout" default="0.5"/>
  <arg name="max_roll_pitch_error_deg" default="15.0"/>

  <include file="$(find gameuav_control_interface)/launch/control_interface.launch">
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="ego_position_cmd_topic" value="$(arg ego_position_cmd_topic)"/>
    <arg name="output_position_cmd_topic" value="$(arg output_position_cmd_topic)"/>
    <arg name="direct_position_topic" value="$(arg direct_position_topic)"/>
    <arg name="spf_position_topic" value="$(arg spf_position_topic)"/>
    <arg name="spf_enable_topic" value="$(arg spf_enable_topic)"/>
    <arg name="mavros_state_topic" value="$(arg mavros_state_topic)"/>
    <arg name="spf_mavros_state_timeout_sec" value="$(arg spf_mavros_state_timeout_sec)"/>
    <arg name="speed_topic" value="$(arg speed_topic)"/>
    <arg name="ego_position_topic" value="$(arg ego_position_topic)"/>
    <arg name="stop_topic" value="$(arg stop_topic)"/>
    <arg name="planning_goal_topic" value="$(arg planning_goal_topic)"/>
    <arg name="planning_yaw_topic" value="$(arg planning_yaw_topic)"/>
    <arg name="rate_hz" value="$(arg rate_hz)"/>
    <arg name="spf_position_timeout" value="$(arg spf_position_timeout)"/>
    <arg name="spf_release_on_arrival" value="$(arg spf_release_on_arrival)"/>
    <arg name="spf_arrival_tolerance_xy" value="$(arg spf_arrival_tolerance_xy)"/>
    <arg name="spf_arrival_tolerance_z" value="$(arg spf_arrival_tolerance_z)"/>
    <arg name="spf_arrival_tolerance_yaw_deg" value="$(arg spf_arrival_tolerance_yaw_deg)"/>
    <arg name="spf_arrival_max_speed" value="$(arg spf_arrival_max_speed)"/>
    <arg name="spf_arrival_settle_sec" value="$(arg spf_arrival_settle_sec)"/>
    <arg name="max_speed" value="$(arg max_speed)"/>
    <arg name="max_vertical_speed" value="$(arg max_vertical_speed)"/>
    <arg name="min_z" value="$(arg min_z)"/>
    <arg name="max_z" value="$(arg max_z)"/>
    <arg name="attitude_guard_enabled" value="$(arg attitude_guard_enabled)"/>
    <arg name="attitude_reference_topic" value="$(arg attitude_reference_topic)"/>
    <arg name="attitude_timeout" value="$(arg attitude_timeout)"/>
    <arg name="max_roll_pitch_error_deg" value="$(arg max_roll_pitch_error_deg)"/>
  </include>
</launch>
