<launch>
  <arg name="odom_topic" default="/vins_fusion/imu_propagate"/>
  <arg name="ego_position_cmd_topic" default="/control/ego_position_cmd"/>
  <arg name="output_position_cmd_topic" default="/control/position_cmd"/>
  <arg name="direct_position_topic" default="/control/position"/>
  <arg name="spf_position_topic" default="/control/spf_position"/>
  <arg name="speed_topic" default="/control/speed"/>
  <arg name="ego_position_topic" default="/control/ego_position"/>
  <arg name="stop_topic" default="/control/stop"/>
  <arg name="planning_goal_topic" default="/planning/goal"/>
  <arg name="planning_yaw_topic" default="/planning/goal_yaw_deg"/>
  <arg name="rate_hz" default="50.0"/>
  <arg name="spf_position_timeout" default="0.0"/>
  <arg name="max_speed" default="1.0"/>
  <arg name="max_vertical_speed" default="0.5"/>
  <arg name="min_z" default="0.05"/>
  <arg name="max_z" default="3.0"/>

  <include file="$(find gameuav_control_interface)/launch/control_interface.launch">
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="ego_position_cmd_topic" value="$(arg ego_position_cmd_topic)"/>
    <arg name="output_position_cmd_topic" value="$(arg output_position_cmd_topic)"/>
    <arg name="direct_position_topic" value="$(arg direct_position_topic)"/>
    <arg name="spf_position_topic" value="$(arg spf_position_topic)"/>
    <arg name="speed_topic" value="$(arg speed_topic)"/>
    <arg name="ego_position_topic" value="$(arg ego_position_topic)"/>
    <arg name="stop_topic" value="$(arg stop_topic)"/>
    <arg name="planning_goal_topic" value="$(arg planning_goal_topic)"/>
    <arg name="planning_yaw_topic" value="$(arg planning_yaw_topic)"/>
    <arg name="rate_hz" value="$(arg rate_hz)"/>
    <arg name="spf_position_timeout" value="$(arg spf_position_timeout)"/>
    <arg name="max_speed" value="$(arg max_speed)"/>
    <arg name="max_vertical_speed" value="$(arg max_vertical_speed)"/>
    <arg name="min_z" value="$(arg min_z)"/>
    <arg name="max_z" value="$(arg max_z)"/>
  </include>
</launch>
