<launch>
  <arg name="fcu_url" default="/dev/serial/by-id/usb-Auterion_PX4_FMU_v6C.x_0-if00:57600"/>
  <arg name="camera" default="camera"/>
  <arg name="camera_serial_no" default=""/>
  <arg name="camera_usb_port_id" default=""/>
  <arg name="enable_realsense_color" default="true"/>
  <arg name="realsense_enable_sync" default="true"/>
  <arg name="realsense_align_depth" default="true"/>
  <arg name="drone_id" default="0"/>
  <arg name="px4ctrl_no_rc" default="false"/>
  <arg name="px4ctrl_enable_auto_arm" default="true"/>
  <arg name="use_tiplight" default="false"/>
  <arg name="use_see_point_fly" default="false"/>
  <arg name="use_smpf" default="true"/>
  <arg name="smpf_execution_enabled" default="true"/>
  <arg name="smpf_llm_model" default="gpt-5.2"/>
  <arg name="smpf_llm_reasoning_effort" default="$(optenv SMPF_LLM_REASONING_EFFORT low)"/>
  <arg name="spf_image_topic" default="/rgb1/image_raw"/>
  <arg name="spf_odom_topic" default="/vins_fusion/imu_propagate"/>
  <arg name="spf_worker_url" default="http://127.0.0.1:9310/infer"/>
  <arg name="configure_mavros_stream_rates" default="true"/>
  <arg name="control_ego_position_cmd_topic" default="/control/ego_position_cmd"/>
  <arg name="control_output_position_cmd_topic" default="/control/position_cmd"/>
  <arg name="spf_release_on_arrival" default="true"/>
  <arg name="spf_arrival_tolerance_xy" default="0.25"/>
  <arg name="spf_arrival_tolerance_z" default="0.20"/>
  <arg name="spf_arrival_tolerance_yaw_deg" default="10.0"/>
  <arg name="spf_arrival_max_speed" default="0.25"/>
  <arg name="spf_arrival_settle_sec" default="0.5"/>

  <include file="$(dirname)/bringup_flight_control.launch">
    <arg name="fcu_url" value="$(arg fcu_url)"/>
    <arg name="camera" value="$(arg camera)"/>
    <arg name="camera_serial_no" value="$(arg camera_serial_no)"/>
    <arg name="camera_usb_port_id" value="$(arg camera_usb_port_id)"/>
    <arg name="enable_realsense_color" value="$(arg enable_realsense_color)"/>
    <arg name="realsense_enable_sync" value="$(arg realsense_enable_sync)"/>
    <arg name="realsense_align_depth" value="$(arg realsense_align_depth)"/>
    <arg name="px4ctrl_no_rc" value="$(arg px4ctrl_no_rc)"/>
    <arg name="px4ctrl_enable_auto_arm" value="$(arg px4ctrl_enable_auto_arm)"/>
    <arg name="configure_mavros_stream_rates" value="$(arg configure_mavros_stream_rates)"/>
    <arg name="control_ego_position_cmd_topic" value="$(arg control_ego_position_cmd_topic)"/>
    <arg name="control_output_position_cmd_topic" value="$(arg control_output_position_cmd_topic)"/>
    <arg name="spf_release_on_arrival" value="$(arg spf_release_on_arrival)"/>
    <arg name="spf_arrival_tolerance_xy" value="$(arg spf_arrival_tolerance_xy)"/>
    <arg name="spf_arrival_tolerance_z" value="$(arg spf_arrival_tolerance_z)"/>
    <arg name="spf_arrival_tolerance_yaw_deg" value="$(arg spf_arrival_tolerance_yaw_deg)"/>
    <arg name="spf_arrival_max_speed" value="$(arg spf_arrival_max_speed)"/>
    <arg name="spf_arrival_settle_sec" value="$(arg spf_arrival_settle_sec)"/>
  </include>

  <include file="$(dirname)/bringup_ego.launch">
    <arg name="drone_id" value="$(arg drone_id)"/>
    <arg name="position_cmd_topic" value="$(arg control_ego_position_cmd_topic)"/>
  </include>

  <group if="$(arg use_tiplight)">
    <include file="$(dirname)/bringup_tiplight.launch"/>
  </group>

  <group if="$(arg use_see_point_fly)">
    <include file="$(dirname)/bringup_see_point_fly.launch">
      <arg name="image_topic" value="$(arg spf_image_topic)"/>
      <arg name="odom_topic" value="$(arg spf_odom_topic)"/>
      <arg name="worker_url" value="$(arg spf_worker_url)"/>
    </include>
  </group>

  <group if="$(arg use_smpf)">
    <include file="$(dirname)/bringup_smpf.launch">
      <arg name="execution_enabled" value="$(arg smpf_execution_enabled)"/>
      <arg name="goal_topic" value="/control/ego_position"/>
      <arg name="llm_model" value="$(arg smpf_llm_model)"/>
      <arg name="llm_reasoning_effort" value="$(arg smpf_llm_reasoning_effort)"/>
    </include>
  </group>
</launch>
